<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {{> meta-icons }}
        <title>{{#if title}}{{title}}{{else}}{{pageTitle}}{{/if}} - {{SITE_TITLE}}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:900|Source+Serif+Pro:400,700" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/css/main.css?timestamp={{timestamp}}" />
    </head>
    <body class="{{sectionName}}">
        {{> header }}
        <main>
          {{#if pageTitle}}
            <h1>{{pageTitle}}</h1>
          {{/if}}
          {{{body}}}
        </main>
        {{> footer}}
        {{!-- scripts go here --}}
        <script type="application/javascript" src="/js/main.js?timestamp={{timestamp}}"></script>
    </body>
</html>
