<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {{> meta-icons }}
        <title>{{#if title}}{{title}}{{else}}{{pageTitle}}{{/if}} - {{SITE_TITLE}}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:900|Source+Serif+Pro:400,700" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/css/main.css?timestamp={{timestamp}}" />

        {{#not isLocal}}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_ANALYTICS_ACCOUNT_ID}}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-124258828-1');
        </script>
        {{/not}}

    </head>
    <body class="{{sectionName}}">
        {{> header }}
        <main>
          {{#if pageTitle}}
            <h1>{{pageTitle}}</h1>
          {{/if}}
          {{{body}}}
        </main>
        {{> footer}}
        {{!-- scripts go here --}}
        <script type="application/javascript" src="/js/main.js?timestamp={{timestamp}}"></script>

        <!-- Google Analytics -->
        {{#not isLocal}}
        <script>
          window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
          ga('create', '{{GOOGLE_ANALYTICS_ACCOUNT_ID}}', 'auto');
          ga('send', 'pageview');
          </script>
          <script async src='https://www.google-analytics.com/analytics.js'></script>
        {{/not}}
        <!-- End Google Analytics -->
    </body>
</html>
